<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <div class="container" >
    <form>
      <br/>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter title" id="title">
      </div>
      <br/>
      <div class="form-group">
        <textarea class="form-control summernote" rows="5" id="content"></textarea>
      </div>

    </form>
    <br/>
    <button id="btn-save" class="btn btn-primary">글쓰기완료</button>
  </div>
  <br/>

  <script src="/js/board.js"></script>

</th:block>
</html>